
div.tripal-info-box {
  width: 100%;
  overflow-x:auto;
}

/**********************************************************
 * Color-code genotypes
 */
 
#T.genotype {
  color: red;
  font-weight: bold;
}

#A.genotype {
  color: black;
  font-weight: bold;
}

#G.genotype {
  color: green;
  font-weight: bold;
}

#C.genotype {
  color: blue;
  font-weight: bold;
}
  
/**********************************************************
 * Tripal Table of Contents
 */

.tripal-topbar-placeholder {
  position: inherit;
  height: 50px;
  margin-bottom: 50px;
}

.tripal-topbar {
	position: fixed;
  background-color: #D3D0C9;
  margin-right: 5px;
  padding: 10px 25px;
  text-align: center;
  border-top: 2px solid #948B7C;
  border-bottom: 2px solid #948B7C;
}

.tripal-topbar span {
  display: inline;
  font-weight: bold;
}

.tripal-topbar ul, .tripal-topbar li {
	display: inline;
	
}

ul.tripal-topbar-list {
  list-style-type: none;
  padding-left: 25px;
}

div.tripal-topbar-fixed {
  position: absolute;
  left: 0px;
  top: 0px;
}

/**********************************************************
 * General Tripal Information Boxes
 */
.tripal-node {
  /**margin-top: 75px;*/
  width: 100%;
}

.tripal-info-box .tripal-info-box-title {
  height: 8px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #204300;
  color: #204300;
}

.tripal-info-box .tripal-info-box-subtitle {
  font-weight: bold;
  font-size: 1.15em;
}

/**** Vertical Tables **********************************/

table.tripal-table-vert  {
  width: auto;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

table.tripal-table-vert .tripal-table-odd-row th {
  width: 200px;
  text-align: left;
  background-color: white;
  border-right: 1px solid #C0C0C0;
}

table.tripal-table-vert .tripal-table-odd-row td {
  background-color: white;
  padding-left: 25px;
}

table.tripal-table-vert .tripal-table-even-row th {
  width: 200px;
  text-align: left;
  background-color: white;
  border-right: 1px solid #C0C0C0;
}

table.tripal-table-vert .tripal-table-even-row td {
  background-color: white;
  padding-left: 25px;
}

/**** Horiztonal Tables **********************************/

table.tripal-table-horz  {
  width: auto;
  border-top: 3px solid white;
  border-bottom: 1px solid white;
}

table.tripal-table-horz th {
  background-color: white;
  color: #A3A49E;
  font-style: italic;
  padding-left: 25px;
  border-bottom: 1px solid white;
  border-left: 1px solid #C0C0C0;
}

table.tripal-table-horz th.tripal-table-first-column {
  border-left: 1px solid white;
}

table.tripal-table-horz td {
  padding-left: 25px;
  border-left: 1px solid #C0C0C0;
}

table.tripal-table-horz .tripal-table-odd-row td {
  background-color: white;
}

table.tripal-table-horz .tripal-table-even-row td {
  background-color: white;
}

table.tripal-table-horz .tripal-table-last-row td {
  border-bottom: 1px solid white;
}

table.tripal-table-horz td.tripal-table-first-column {
  border-left: 1px solid white;
}

table.tripal-table-horz .tripal-table-interupt td {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  vertical-align: bottom;
  padding-left: 0px;
  height: 2em;
  font-weight: bold;
}

table.tripal-table-horz .tripal-table-lowlight-row td {
  color: #A3A49E;
  font-weight: bold;
}

table.tripal-table-horz .tripal-table-lowlight-row a {
  color: #A3A49E;
  font-weight: bold;
}

ul.tripal-list {
  list-style-type: square;
}

/**** Organism Fixes **********************************/
#tripal_organism-image-box {
   float: none;
}

#tripal_organism-base-box {
   float: none;
}

#tripal_organism-base-box img {
 float: none;
}

#tripal_organism-table-base {
 float: none;
}

.tripal_organism-image {
  float: right;
  margin-right: 50px;
}

.tripal_organism-image img {
  border: 1px solid #204300;
}
